# Cache e arquivos de ferramentas do Dart/Flutter
.dart_tool/
.metadata
.packages
.pub-cache/
.pub/
build/

# Configurações de análise e logs
analysis_options.yaml
kernel.*

# Dependências (O pubspec.lock deve ser mantido em apps, mas ignorado em packages/libs se preferir)
# Como você está desenvolvendo um app, recomendo MANTER o pubspec.lock no Git.

# Web específica
lib/generated_plugin_registrant.dart

# IDEs (VS Code, IntelliJ, etc)
.vscode/
.idea/
*.iml
*.iws
.project
.classpath
.settings/

# Arquivos de sistema e logs
.DS_Store
*.log
doc/api/